@import url("https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Alata", sans-serif;
    scroll-behavior: smooth;
  }
}
